<%- include('../partials/header') %>
    <!-- <h1>Flights</h1> -->
    <h1><%= title %></h1>
    <ul>
      <% flights.forEach(function(t) { %>
        <li>
          <%= t.flight %>
            <!-- - 
          <%= t.done ? 'done' : 'not done' %> -->
        </li>
      <% }); %>
    </ul>
  <%- include('../partials/footer') %>