<%- include('../partials/header') %>

<section id="show-page">
  <div>Airline Name: </div>
  <div><%= flights.airline %></div>

  <div>Flight Number:</div>
  <div><%= flights.flightNo %></div>

  <div>Departure Airport: </div>
  <div><%= flights.departureAirport %></div>

  <div>Departure Time:</div>
  <div><%= flights.departs.toLocaleDateString(undefined, { weekday: 'short', year: 'numeric', month: 'long', day: 'numeric' }) %>, <%= flights.departs.toLocaleTimeString() %></div>

  <ul>
    <%-
    flights.ticket.map(p =>
    `<li>Seat Number: ${ p.seat}<br>Price: <small>$</small>${ p.price }</li>`
    ).join('') %>
  </ul>

</section>

<form id="add-per-to-cast" action="/flights/<%= flights._id %>/tickets" method="POST">
  <select name="ticketId">
    <!-- Emit an option for each performer -->
    <%-ticket.map(p => 
    `<option value="${p._id}"> ${p.seat}, $ ${p.price} </option>`
  ).join(''); %>
  </select>
  <button type="submit">Add to List</button>
</form>

  <br><br>
  <h2>Arrival Details</h2>
  <form id="add-arrival-details" action="/flights/<%= flights._id %>" method="POST">
    <label>Arrival Date:</label>
    <input type="datetime-local" name="arrivalDate"> 
    <br><br><br>
    <label>Arrival Airport:</label>
    <select name="arrivalAirport">
      <option value="EWR" selected>Newark International Airport, New Jersey, USA (EWR)</option>
      <option value="IAD">Dulles International Airport, Virginia, USA(IAD)</option>
      <option value="AMD">Ahmedabad International Airport, Gujarat, India(AMD)</option>
      <option value="BOM">Mumbai International Airport, Maharashtra, India(BOM)</option>
      <option value="IGI">New Delhi International Airport, New Delhi, India(IGI)</option>
    </select>
    <br><br><br>
    <input type="submit" value="Add Arrival Details">
  </form>
  <br><br>
<% if (flights.destinations.length) { %>
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Arrival Airport</th>
      </tr>
    </thead>
    <tbody>
      <% flights.destinations.forEach(function(r) { %>
        <tr>
          <td><%= r.arrivalDate.toLocaleDateString(undefined, { weekday: 'short', year: 'numeric', month: 'long', day: 'numeric' }) %>, <%= r.arrivalDate.toLocaleTimeString() %></td>
          <td><%= r.arrivalAirport %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
<% } else { %>
  <h5>No Destinations Assigned Yet</h5>
<% } %>

<%- include('../partials/footer') %>